.button {
  @include title;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  color: $light;
  background-color: $base-bg;
  cursor: pointer;
  border: none;
  display: block;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
