.button {
  @include title;
  font-family: inherit;
  text-decoration: none;
  text-transform: uppercase;
  color: $light;
  background-color: $base-bg;
  cursor: pointer;
  border: none;
  display: block;
}
