.contact-title__text {
  padding: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 0;
    padding: 0 0 0 8px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 79px;
  }
}
