.control__label {
  position: relative;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 38px;

  @media (min-width: $tablet-width) {
    padding-left: 26px;
  }


  @media (min-width: $desktop-width) {
    padding-left: 65px;
  }

  &::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
    outline-offset: -1px;
    position: absolute;
    top: -16px;
    left: -26px;

    @media (min-width: $tablet-width) {
      left: -35px;
    }

    @media (min-width: $desktop-width) {
      left: 2px;
    }
  }
}

.control__input[type="checkbox"]:checked + .control__label::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: url("/img/icons/tick.svg") no-repeat center center;
  border-radius: 50%;
  outline-offset: -1px;
  position: absolute;
  top: -4px;
  left: -14px;

  @media (min-width: $tablet-width) {
    left: -26px;
  }

  @media (min-width: $tablet-width) {
    left: 14px;
  }
}
