.contacts__map {
  position: absolute;
  height: 100%;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.map {
  min-height: 350px;
}

.map__wrapper {
  position: relative;
  height: 350px;
}

.contacts__map-image {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.nojs-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
