.emotions-title__text {
  margin-top: 13px;
  margin-bottom: 0;
  padding-left: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -9px;
  }
}
