.fieldsets__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 31% 31% 31% 31%;
    column-gap: 50px;
    margin: 0 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 31% 31% 31% 31%;
    column-gap: 93px;
    margin: 0 121px;
  }
}
