.footer {
  background-color: $light;
  padding: 33px 82px;
  text-align: center;
}

.footer__tags {
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 30px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .footer__tags {
    margin: 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }

  .footer__social {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 36px 120px;
  }
}
