.form-reviews__group {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
}

.form-reviews__title {
  @include title;
  text-align: center;
  padding-bottom: 20px;
}

.form-reviews__list {
  @include list-reset;
}

.form-reviews__list--name,
.form-reviews__list--phone,
.form-reviews__list--impression,
.form-reviews__list--attractions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-reviews__description {
  @include text-form;
  border: none;
  background-color: $second-bg;
  width: 100%;
  min-height: 150px;
  padding: 16px;
}

.form-reviews__group--name {
  padding: 24px 20px 39px;
}

.form-reviews__group--phone {
  padding: 24px 20px 34px;
}

.form-reviews__group--impression {
  padding: 24px 20px;
}

.form-reviews__group--attractions {
  padding: 24px 20px;
}

.form-reviews__group--emotions {
  padding: 24px 20px 28px;
}

.form-reviews__button {
  text-align: right;
  padding: 22px 20px;
}

.form-reviews__send-button {
  width: 100%;
  padding: 16px 49px;
  font-size: 21px;
}

.form-reviews__send-text {
  font-size: 12px;
  margin: 0;
  margin-top: 3px;
}

@media (min-width: $tablet-width) {
  .form-reviews__group {
    border: none;
    position: relative;
  }

  .form-reviews__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-reviews__title {
    font-size: 21px;
  }

  .form-reviews__description {
    min-height: 160px;
  }

  .form-reviews__list--impression {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8px;
  }

  .form-reviews__list--attractions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 32px;
  }

  .form-reviews__group--name {
    padding: 91px 28px 62px 60px;
    position: relative;
  }

  .form-reviews__group--name::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    top: 29px;
    right: 0;
  }

  .form-reviews__group--phone {
    padding: 91px 60px 62px 28px;
  }

  .form-reviews__group--impression {
    padding: 0 96px 48px;
  }

  .form-reviews__group--attractions {
    padding: 10px 144px 41px;
  }

  .form-reviews__group--emotions {
    padding: 9px 60px 30px;
  }

  .form-reviews__group--name::before,
  .form-reviews__group--impression::before,
  .form-reviews__group--attractions::before {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    bottom: -14px;
    left: 60px;
  }

  .form-reviews__group--phone::after,
  .form-reviews__group--impression::after,
  .form-reviews__group--attractions::after {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    bottom: -14px;
    right: 60px;
  }

  .form-reviews__group--impression::before,
  .form-reviews__group--impression::after {
    bottom: -28px;
  }

  .form-reviews__button {
    display: flex;
    align-items: center;
    padding: 12px 60px 64px;
  }

  .form-reviews__send-button {
    padding: 16px 0;
  }

  .form-reviews__send-text {
    width: 100%;
    font-size: 14px;
    margin-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .form-reviews__wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .form-reviews__list--impression {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    margin: 0;
    padding-left: 53px;
    padding-right: 11px;
  }

  .form-reviews__list--attractions {
    display: grid;
    grid-template-columns: 1fr 0.97fr 0.9fr 1.1fr;
    gap: 30px;
    padding-left: 44px;
  }

  .form-reviews__group--name {
    padding: 8px 49px 70px 120px;
  }

  .form-reviews__group--name::after {
    top: -54px;
  }

  .form-reviews__group--phone {
    padding: 8px 120px 70px 49px;
  }

  .form-reviews__group--impression {
    padding: 25px 120px 74px;
    gap: 10px;
  }

  .form-reviews__group--attractions {
    padding: 39px 120px 88px;
  }

  .form-reviews__group--emotions {
    padding: 7px 216px 24px;
  }

  .form-reviews__group--name::before,
  .form-reviews__group--impression::before,
  .form-reviews__group--attractions::before,
  .form-reviews__group--phone::after,
  .form-reviews__group--impression::after,
  .form-reviews__group--attractions::after {
    width: 280px;
  }

  .form-reviews__group--name::before,
  .form-reviews__group--impression::before,
  .form-reviews__group--attractions::before {
    left: 120px;
  }

  .form-reviews__group--phone::after,
  .form-reviews__group--impression::after,
  .form-reviews__group--attractions::after {
    right: 120px;
  }

  .form-reviews__button {
    padding: 19px 216px 64px;
  }
}
