.form__wrapper .form__button {
  width: 100%;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 10px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}
