.gallery__list {
  @include list-reset;
}

.gallery__item {
  padding: 25px 20px;
}

@media (max-width: $mobile-width-only) {
  .gallery__item {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 55px 60px 25px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__item {
    padding: 0;
  }

  .gallery__item--header {
    grid-column: 1 / -1;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
    padding-top: 22px;
  }

  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
