.group-attractions__list {
  padding-left: 23px;
  gap: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 41px;
  }
}

.group-attraction__title {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.attraction-title__container {
  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.group-attractions {
  @media (min-width: $desktop-width) {
    margin: 0 165px;
    padding: 0;
  }
}
