.header {
  display: flex;
  position: relative;

  @media (max-width: $mobile-width-only) {
    height: 56px;
  }
}

.header__logo-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
