.hero {
  text-align: center;
}

.hero__wrapper {
  background-image: url("../../img/stack.svg#index-hero-zigzag"), url("../../img/index-hero-background.jpg");
  background-color: $base-bg;
  background-repeat: no-repeat;
  background-position: center bottom, 50% 30%;
  background-size: 1200px 57px, cover;
  padding: 90px 19px 85px;
}

.hero__wrapper--inner {
  background-position: center bottom, 50% bottom;
  background-size: 1200px 57px, 282% auto;
  padding: 52px 46px 67px;
}

.hero__title-wrapper {
  padding: 37px 20px;
}

.hero__title-wrapper--reviews {
  padding: 37px 20px 25px;
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.hero__image--inner {
  display: block;
  margin: 0 auto;
  max-width: 229px;
}

.hero__title {
  @include hero-title;
  margin: 0;
  margin-bottom: 25px;
}

.hero__description {
  margin: 0;
}

@media (min-resolution: 2dppx) {
  .hero__wrapper {
    background-image: url("../../img/stack.svg#index-hero-zigzag"), url("../img/index-hero-background@2x.jpg");
  }
}

@media (max-width: $mobile-width-only) {
  .hero__title-wrapper {
    border-bottom: 1px solid #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    padding: 77px 154px 91px;
  }

  .hero__wrapper--inner {
    background-position: center bottom, 50% bottom;
    background-size: 1200px 57px, 156% auto;
    padding: 95px 154px 116px 157px;
  }

  .hero__title-wrapper {
    padding: 66px 162px 25px;
  }

  .hero__title-wrapper--reviews {
    padding-top: 64px;
  }

  .hero__image {
    width: 460px;
    height: 350px;
  }

  .hero__image--inner {
    max-width: 457px;
  }

  .hero__title {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .hero__title--reviews {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .hero__wrapper {
    padding: 78px 371px 90px 370px;
  }

  .hero__wrapper--inner {
    background-position: center bottom, 50% bottom;
    background-size: 1200px 57px, 100% auto;
    padding: 101px 371px 120px 369px;
  }

  .hero__title--reviews {
    margin-bottom: 31px;
  }

  .hero__title-wrapper {
    padding: 100px 377px 65px;
  }

  .hero__title-wrapper--reviews {
    padding: 116px 378px 68px;
  }
}
