.item-reviews__label {
  padding-left: 16px;
  display: block;
}

.item-reviews__label--radio,
.item-reviews__label--checkbox {
  @include text-form;
  text-transform: none;
  display: block;
  position: relative;
  padding-left: 62px;
  cursor: pointer;
  min-height: 46px;
}

.item-reviews__input {
  @include text-form;
  background-color: $second-bg;
  border: none;
  width: 100%;
  padding: 16px;
}

.item-reviews__input:hover {
  background-color: #e5e5e5;
}

.item-reviews__input:active {
  background-color: $light;
  outline: 4px solid #e5e5e5;
}

.item-reviews__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.item-reviews__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.item-reviews__input--phone {
  background-image: url("../../img/stack.svg#phone-icon");
}

.item-reviews__input--mail {
  background-image: url("../../img/stack.svg#mail-icon");
}

.item-reviews__input--mail,
.item-reviews__input--phone {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 58px;
  padding-right: 75px;
}

.item-reviews__control-input[type="checkbox"]:checked + .item-reviews__control-mark::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 46px;
  left: 12px;
  background-image: url("../../img/stack.svg#check-mark-icon");
  background-repeat: no-repeat;
  background-position: center;
}

.item-reviews__control-input[type="checkbox"]:checked + .item-reviews__control-mark:active::before {
  opacity: 0.3;
}

.item-reviews__control-input[type="radio"]:checked + .item-reviews__control-mark::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-reviews__control-input[type="radio"]:checked + .item-reviews__control-mark:active::before {
  background-color: #a5a5a5;
}

.item-reviews__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  border: none;
  background-color: $second-bg;
  border-radius: 4px;
  left: 0;
}

.item-reviews__control-mark:hover {
  background-color: #e5e5e5;
}

.item-reviews__control-input:focus + .item-reviews__control-mark {
  outline: 3px solid $dark;
  background-color: #ffffff;
}

.item-reviews__control-mark:active {
  background-color: #d5d5d5;
}

.item-reviews__control-mark--radio {
  border-radius: 50%;
}

.item-reviews__control-label {
  display: block;
  padding-top: 10px;
}
