.map {
  position: relative;
  max-height: 350px;
  margin-bottom: 9px;
}

.map::before {
  content: "";
  display: block;
  background-image: url("../../img/map-marker.svg");
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  position: absolute;
  left: 46%;
  bottom: 46%;
}

.map__image {
  background-color: $base-bg;
  min-height: 350px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .map {
    margin: 0;
  }

  .map::before {
    left: 48%;
    bottom: 46%;
  }
}

@media (min-width: $desktop-width) {
  .map::before {
    left: 49%;
  }
}
