.map {
  position: relative;
  max-height: 350px;
  margin-bottom: 9px;
}

.map__yandex {
  border: none;
  display: block;
  width: 100%;
}

.map__image {
  object-fit: cover;
  width: 100%;
}

.map__background {
  display: block;
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
}

@media (min-width: $tablet-width) {
  .map {
    margin: 0;
  }
}
