.modal {
  text-align: center;
}

.modal__error {
  padding: 40px;
}

.modal__success {
  padding: 20px;
}

.modal__button {
  padding: 18px 63px 14px;
  margin: 0 auto;
}

.modal__button--success {
  width: 100%;
  max-width: 458px;
}

.modal__title {
  @include hero-title;
}

@media (min-width: $tablet-width) {
  .modal__button--error {
    width: 272px;
  }
}
