.nav__list-item {
  list-style-type: none;

  @include main-title;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}

.nav__list {
  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 20px 0 0 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 20px 0 0 90px;
  }
}

.nav__list:first-child {
  grid-area: 1/1;
}

.nav__list-item:nth-child(2) {
  grid-area: 1/2;
}

.nav__list-item:nth-child(3) {
  grid-area: 1/4;
}

.nav__list-item:nth-child(4) {
  grid-area: 1/5;
}

