.navigation {
  margin: 0 auto;
  width: 100%;
}

.navigation__list {
  @include list-reset;
}

.navigation__link {
  font-weight: 700;
  color: $dark;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
  }

  .navigation__item {
    padding-top: 18px;
    padding-bottom: 17px;
    width: 153px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .navigation__item {
    width: 240px;
  }
}
