.navigation {
  margin: 0 auto;
  width: 100%;
}

.navigation__list {
  @include list-reset;
}

.navigation__link {
  color: $dark;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding-top: 17px;
  padding-bottom: 11px;
}

.navigation__toggle {
  position: relative;
  border: none;
  padding: 0;
  width: 63px;
  height: 56px;
  display: block;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: $mobile-width-only) {
  .navigation__link {
    @include title;
    color: $light;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;
    text-align: center;
  }

  .navigation__list {
    background-color: $base-bg;
  }

  .navigation--closed .navigation__toggle::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 20px;
    width: 23px;
    height: 4px;
    background-color: $base-bg;
    box-shadow: 0 9px 0 0 $base-bg, 0 18px 0 0 $base-bg;
  }

  .navigation--opened .navigation__toggle::before,
  .navigation--opened .navigation__toggle::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 17px;
    width: 28px;
    height: 4px;
    background-color: $light;
    z-index: 2;
  }

  .navigation--opened .navigation__toggle::before {
    transform: rotate(45deg);
  }

  .navigation--opened .navigation__toggle::after {
    transform: rotate(-45deg);
  }

  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--opened .navigation__list {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .navigation--opened .navigation__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  .navigation--nojs .navigation__list {
    position: relative;
  }

  .navigation--nojs .navigation__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }

  .navigation__item {
    padding-top: 18px;
    padding-bottom: 17px;
  }

  .navigation__item:nth-child(4n+3) {
    grid-column: 4 / 5;
  }

  .navigation__link {
    padding: 0;
  }
}
