.radio__label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    background-color: #f2f2f2;
    border-radius: 50%;
    outline-offset: -1px;
    position: absolute;
    top: -17px;
    left: -60px;
  }
}

.radio__input[type="radio"]:checked + .radio__label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: $basic-black;
  border-radius: 50%;
  outline-offset: -1px;
  position: absolute;
  top: 0;
  left: -45px;
}

.radio {
  @media (min-width: $desktop-width) {
    min-width: 185px;
  }
}
