.reviews {
  background-color: $light;
}

.reviews__form {
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .reviews__form {
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__form {
    padding: 0 120px;
  }
}