.services__item {
  background-color: $light;
  padding: 7px 18px 19px 65px;
  text-align: left;
}

.services__item--housing,
.services__item--food,
.services__item--souvenir {
  position: relative;
}

.services__item--housing::before {
  content: "";
  display: block;
  background-image: url("../../img/stack.svg#house-icon");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 18px;
}

.services__item--food::before {
  content: "";
  display: block;
  background-image: url("../../img/stack.svg#burger-icon");
  width: 40px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 18px;
}

.services__item--souvenir::before {
  content: "";
  display: block;
  background-image: url("../../img/stack.svg#gift-icon");
  width: 32px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 22px;
}

.services__list {
  @include list-reset;
  padding: 16px 0 26px;
  background-color: $light;
}

.services__title {
  @include title;
  margin: 8px 0 16px;
}

.services__description {
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .services__item {
    text-align: center;
    padding: 158px 37px 60px;
    min-width: 256px;
  }

  .services__item--food {
    padding: 158px 50px 60px;
  }

  .services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }

  .services__item--housing::before {
    width: 79px;
    height: 77px;
    left: 34%;
    top: 57px;
  }

  .services__item--food::before {
    width: 85px;
    height: 68px;
    left: 34%;
    top: 60px;
  }

  .services__item--souvenir::before {
    width: 68px;
    height: 76px;
    left: 37%;
    top: 62px;
  }

  .services__title {
    margin: 0;
    margin-bottom: 23px;
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .services__item {
    padding: 169px 50px 69px;
  }

  .services__item--housing::before {
    width: 80px;
    height: 81px;
    left: 40%;
    top: 65px;
  }

  .services__item--food::before {
    width: 80px;
    height: 70px;
    left: 40%;
    top: 71px;
  }

  .services__item--souvenir::before {
    width: 76px;
    height: 76px;
    left: 40%;
    top: 69px;
  }
}
