.textarea {
  display: block;
  box-sizing: border-box;
  padding: 16px;
  min-height: 151px;

  @media (min-width: $tablet-width) {
    min-width: 648px;
    min-height: 160px;
  }

  @media (min-width: $desktop-width) {
    min-width: 648px;
    min-height: 160px;
    padding: 20px;
  }
}

