.video {
  padding: 17px 20px 0;
  text-align: center;
}

.video__wrapper {
  padding: 0 6px 0 8px;
}

.video__title {
  @include hero-title;
  margin: 0;
  margin-bottom: 27px;
}

.video__description {
  margin: 0;
  margin-bottom: 38px;
}

.video__play {
  background-image: url("../../img/video-phone.jpg");
  background-repeat: no-repeat;
  background-color: $base-bg;
  background-size: cover;
  background-position: center;
  display: block;
  min-height: 177px;
}

@media (min-resolution: 2dppx) {
  .video__play {
    background-image: url("../../img/video-phone@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .video {
    padding: 32px 60px 40px;
  }

  .video__play {
    background-image: url("../../img/video-desktop.jpg");
    background-repeat: no-repeat;
    min-height: 500px;
  }

  @media (min-resolution: 2dppx) {
    .video__play {
      background-image: url("../../img/video-desktop@2x.jpg");
    }
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .video__description {
    margin-bottom: 57px;
  }

  .video__wrapper {
    padding: 0 102px 33px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 62px 200px 84px;
  }

  .video__wrapper {
    padding: 0 177px 30px;
  }
}
