@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark;
}

@mixin hero-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark;
}

@mixin advantages-with-img {
  color: $light;
  background-color: $base-bg;
}

@mixin text-form {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $dark;
}
